<div class="row">
    <div class="col-6 text-center ">
        <h3>Listado de Usuarios</h3>
        <div class="col-6 ">
            <table class="table table-hover  ">
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of usuarios">
                        <td><img src="{{ u.avatar }}" alt="{{ u.first_name }}" width="100px"></td>
                        <td>{{ u.first_name }}</td>
                        <td>{{ u.last_name }}</td>
                        <td><button class="btn btn-outline-success" (click)="delete(u.id)">Eliminar</button></td>
                        <td><button class="btn btn-outline-warning" (click)="update(u)" >Modificar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6">
        <div class="col-6">
            <h3>Nuevo Usuario</h3>
            <form #miForm="ngForm" (ngSubmit)="create(miForm)">
                <input type="hidden" name="id" [(ngModel)]="usersService.datosUsuario.id">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" name="name" [(ngModel)]="usersService.datosUsuario.name">
                </div>
                <div class="mb-3">
                    <label class="form-label ">Trabajo</label>
                    <input type="text" class="form-control" placeholder="Trabajo" name="job" [(ngModel)]="usersService.datosUsuario.job">
                </div>
                <button type="submit" class="btn btn-success me-2">Guardar</button>
                <button class="btn btn-warning"(click)="resetForm(miForm)">Limpiar</button>
            </form>
        </div>
    </div>
</div>